.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}

.purple {
    background-color: '#673ab7 !important';
}

.light-purple {
    background-color: '#651fff !important';
}

.border-light-purple {
    background-color: '#651fff !important';
}